/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    display: block;
    margin-left:100px;
    margin-right: 100px;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.navbar-container > div > img{
    height: 40px;
}

.list{
    display: flex;
    list-style: none;
    font-family: 'Orbitron', sans-serif;
}

.list-item:first-child{
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.list-item{
    margin-left: 50px;
    font-size: 20px;
}

.button-group{
    display: flex;
}

svg{
    height: 20px;
    margin-top: 9px;
    margin-right: 6px;
}

.nav-button{
    background: transparent;
    padding: 6px 40px;
    border-radius: 9px;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}

.hero-container{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.square{
    position: absolute;
    left: 200px;
    top: 340px;  
}

.square > img {
    height: 300px;
    width: 300px;
}

.hero-container >div > img {
    margin-left: 80px;
    width: 350px;
    position: relative;
    right: 225px;
    top: 90px;
}


.globe{
    position: relative;
    left: 540px;
    top: 60px;
    
}

.globe > img {
    height: 50px;
}

.star{
    position: relative;
    left: 1030px;
    height: 100px;
    bottom: -80px;
    
}

.star > img{
    height: 50px;
}

.star:nth-child(2){
    position: relative;
    top: 490px;
    left: 42%;
}

.star:nth-child(2) > img{
    height: 38px;
}

/* Hero Corner -Right Side */
.hero-container-right{
    margin-top: 150px;
}

.hero-heading{
    display: inline;
    position: relative;
    right: 40px;
    font-size: 39px;
    padding: 0px 30px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}



.hero-description{
    position: absolute;
    right: 20px;
    padding: 20px 70px;
    text-align: center;
    color: #606060;
    position: relative;
    right: 30px;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.button-email{
    margin-top: 40px;
    margin-left: 145px;
    background: transparent;
    color: #606060;
    padding: 3px 14px;
    border-radius: 10px;
    font-size: small;
    font-family: 'Orbitron', sans-serif;
}

.button-join{
    background-color: #0B0C0E ;
    color: white;
    padding: 3px 3px;
    border-radius: 10px;
    font-size: small;
    font-family: 'Orbitron', sans-serif;
}

.hero-container-right > div > h4{
    margin-top: 80px;
    margin-left: 215px;
    color: #606060;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

.icons{
    display: flex;
    margin-top: 10px;
    margin-left: 175px;
}

.icons > span {
    padding-left: 10px;
}

.icons > span > img{
    height: 30px;
}

