*{
    margin: 0;
    padding: 0;
    background-color: #F9F5ED;
    box-sizing: border-box; /*search*/

}

nav{
    padding: 20px 10%;
    height: 15vh;

}

nav ul{
    display: flex;
    align-items: center ;
    gap: 50px;
}

nav ul li {
    list-style: none;
    /* margin-right: 5%; */
    font-weight: 500;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

/* Css For Hero Section */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    height: 50%;
}

.leftmain{
    width: 40%;
}

.leftmain h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.leftmain p{
    margin: 5% 0;
    font-family: Arial, Helvetica, sans-serif;
}

.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color:#3B855B;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}

.rightmain{
    width: 60%; 
    margin-left: 50px;
}

.img-right{
    margin: 0.5% 0.5%;
}
